@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}
  
.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}
  
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}
  
.skills {
    /* width: 45%; */
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    margin-top: 20px;
    margin-left: -20px;
}
.tools {
    /* width: 45%; */
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    margin-top: 20px;

}
.clouds {
    /* width: 45%; */
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    margin-top: 20px;
}
  
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}
.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}
.cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}
  
.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}
.toolImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}
.cloudImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
}
.toolImageContainer img {
    width: 75px;
}
.cloudImageContainer img {
    width: 75px;
}
  
.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}
.tool p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}
.cloud p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.section {
    margin-bottom: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 40px;
}



@media screen and (max-width: 830px) {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 34px;
    }

    .skills,
    .tools,
    .clouds {
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
}